main{
  min-height: 80vh;
}
.navbar-collapse{
  padding-left:936px;
}
.fa-shopping-cart:before, .fa-user:before {
  padding-right:5px;
}
h3 {
  padding: 1rem 0;
}
.rating span {
 margin: 0.1rem;
}
.cart-button{
  width:100%;
}